<div class="card card--no-padding">
  <div class="card__content">
    <div class="org-logo">
      <img class="org-logo__image" src="{{logo}}" alt="Company Logo"/>
    </div>
    <div class="stack stack--large">
      {{> errors}}
      {{> spinner}}
      <div class="tile-selector tile-selector--stacked">
        {{#each authenticators as |authenticator|}}
          <div class="tile-button--side-icon tile-button tile-button--stacked-small"
               data-authenticator-selection="{{authenticator}}" role="button" tabindex="0">
            <div class="tile-button__icon-container" data-authenticator-selection="{{authenticator}}">
              {{#ifEq authenticator "SMS OTP"}}
                <svg viewBox="0 0 24 24" role="presentation" style="width: 32px; height: 32px;">
                  <g id="sms" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <path
                      d="M11.9284286,20.00726 C10.9667143,20.00726 10.0384286,19.902425 9.14914286,19.724075 C7.479,22.06742 4.44642857,22.472405 4.44642857,22.472405 C5.568,21.15566 5.91514286,19.77758 5.952,18.64484 C2.88728571,17.119295 0.852,14.462315 0.852,11.432105 C0.852,6.69626 5.811,2.857385 11.9284286,2.857385 C18.0458571,2.857385 23.0048571,6.69626 23.0048571,11.432105 C23.0048571,16.16795 18.0458571,20.00726 11.9284286,20.00726 M11.9284286,2 C5.34042857,2 0,6.22298 0,11.432105 C0,14.64893 2.03914286,17.486 5.148,19.188155 C4.947,20.40572 4.26771429,21.886895 2.556,23.437235 C2.556,23.437235 7.02385714,23.43506 9.489,20.66585 C10.2767143,20.795045 11.0922857,20.864645 11.9284286,20.864645 C18.5164286,20.864645 23.8568571,16.641665 23.8568571,11.432105 C23.8568571,6.22298 18.5164286,2 11.9284286,2"
                      id="Icon-SMS" fill="#757575"></path>
                  </g>
                </svg>
              {{else ifEq authenticator "EMAIL OTP"}}
                <svg viewBox="0 0 24 24" role="presentation" style="width: 32px; height: 32px;">
                  <g id="email" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <path
                      d="M23.1405957,18.3731613 L16.541617,11.7403871 L23.1405957,5.11535484 L23.1405957,18.3731613 Z M1.77497872,18.6286452 L8.03540426,12.336 L10.7964255,15.1086452 C11.4571915,15.7708387 12.5269787,15.7708387 13.187234,15.1086452 L15.948766,12.336 L22.2086809,18.6286452 L1.77497872,18.6286452 Z M0.856851064,5.12877419 L7.44204255,11.7403871 L0.856851064,18.3602581 L0.856851064,5.12877419 Z M22.2081702,4.8603871 L12.605617,14.5016774 C12.2670638,14.8423226 11.7171064,14.8423226 11.3780426,14.5016774 L1.77548936,4.8603871 L22.2081702,4.8603871 Z M23.1405957,4 L0.856851064,4 C0.384,4 0,4.38503226 0,4.8603871 L0,18.6286452 C0,19.104 0.384,19.4890323 0.856851064,19.4890323 L23.1405957,19.4890323 C23.6139574,19.4890323 23.9974468,19.104 23.9974468,18.6286452 L23.9974468,4.8603871 C23.9974468,4.38503226 23.6139574,4 23.1405957,4 Z"
                      id="Icon-Email" fill="#757575"></path>
                  </g>
                </svg>
              {{else ifEq authenticator "VOICE OTP"}}
                <svg viewBox="0 0 24 24" role="presentation" style="width: 32px; height: 32px;">
                  <g id="mobile" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Group" transform="translate(4.000000, 0.000000)">
                      <rect id="Rectangle" stroke="#6B6B6B" x="0.5" y="0.5" width="15" height="23" rx="1.6"></rect>
                      <path
                        d="M6.65,21 C6.65,20.2545224 7.25414218,19.65 8,19.65 C8.74521255,19.65 9.35,20.2547876 9.35,21 C9.35,21.7452127 8.74521266,22.35 8,22.35 C7.25414206,22.35 6.65,21.7454779 6.65,21 Z M7.35,21 C7.35,21.3589771 7.64083996,21.65 8,21.65 C8.35861334,21.65 8.65,21.3586133 8.65,21 C8.65,20.6413869 8.35861318,20.35 8,20.35 C7.64084012,20.35 7.35,20.6410231 7.35,21 Z"
                        id="Stroke-200" fill="#6B6B6B" fill-rule="nonzero"></path>
                      <path
                        d="M6,3.85 L10,3.85 C10.1932997,3.85 10.35,3.69329966 10.35,3.5 C10.35,3.30670034 10.1932997,3.15 10,3.15 L6,3.15 C5.80670034,3.15 5.65,3.30670034 5.65,3.5 C5.65,3.69329966 5.80670034,3.85 6,3.85 Z"
                        id="Stroke-202" fill="#6B6B6B" fill-rule="nonzero"></path>
                    </g>
                  </g>
                </svg>
              {{else ifEq authenticator "GRID"}}
                <svg viewBox="0 0 24 24" role="presentation" style="width: 32px; height: 32px;">
                  <g id="grid" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <path
                      d="M3 9h4V5H3v4zm0 5h4v-4H3v4zm5 0h4v-4H8v4zm5 0h4v-4h-4v4zM8 9h4V5H8v4zm5-4v4h4V5h-4zm5 9h4v-4h-4v4zM3 19h4v-4H3v4zm5 0h4v-4H8v4zm5 0h4v-4h-4v4zm5 0h4v-4h-4v4zm0-14v4h4V5h-4z"
                      id="Icon-Grid" fill="#757575"></path>
                  </g>
                </svg>
              {{else ifEq authenticator "KBA"}}
                <svg viewBox="0 0 24 24" role="presentation" style="width: 32px; height: 32px;">
                  <g id="kba" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <path
                      d="M14 10H2v2h12v-2zm0-4H2v2h12V6zM2 16h8v-2H2v2zm19.5-4.5L23 13l-6.99 7-4.51-4.5L13 14l3.01 3 5.49-5.5z"
                      id="Icon-Kba" fill="#757575"></path>
                  </g>
                </svg>
              {{else ifEq authenticator "TOKEN"}}
                <svg viewBox="0 0 24 24" role="presentation" style="width: 32px; height: 32px;">
                  <g id="token" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <path
                      d="M8.33517495,14.9364641 L7.27071823,14.9364641 L7.27071823,10.8333333 L6,11.2274401 L6,10.3618785 L8.22099448,9.56629834 L8.33517495,9.56629834 L8.33517495,14.9364641 Z M13.7532228,14.9364641 L10.0773481,14.9364641 L10.0773481,14.2071823 L11.8121547,12.3581952 C11.9422965,12.2157758 12.0521788,12.0856359 12.1418048,11.9677716 C12.2314308,11.8499073 12.3038671,11.7418667 12.359116,11.6436464 C12.4143649,11.5454262 12.4536524,11.4539599 12.4769797,11.3692449 C12.5003071,11.28453 12.5119705,11.2028856 12.5119705,11.1243094 C12.5119705,10.8861253 12.4518115,10.6988957 12.3314917,10.5626151 C12.2111719,10.4263345 12.039289,10.3581952 11.8158379,10.3581952 C11.6906071,10.3581952 11.5794971,10.3809083 11.4825046,10.4263352 C11.3855121,10.471762 11.3044816,10.5343765 11.2394107,10.6141805 C11.1743398,10.6939844 11.1246165,10.7891339 11.0902394,10.8996317 C11.0558623,11.0101295 11.038674,11.1304475 11.038674,11.2605893 L9.97053407,11.2605893 C9.97053407,11.0199497 10.0135048,10.7928187 10.0994475,10.5791897 C10.1853902,10.3655606 10.3093915,10.1789449 10.4714549,10.019337 C10.6335183,9.8597291 10.829342,9.73327241 11.0589319,9.63996317 C11.2885217,9.54665392 11.5469599,9.5 11.8342541,9.5 C12.1166374,9.5 12.3664814,9.53499044 12.5837937,9.60497238 C12.8011061,9.67495431 12.9834247,9.7750147 13.1307551,9.90515654 C13.2780855,10.0352984 13.3898093,10.1949039 13.46593,10.3839779 C13.5420507,10.5730519 13.5801105,10.78545 13.5801105,11.0211786 C13.5801105,11.2004306 13.5518726,11.3735412 13.4953959,11.5405157 C13.4389193,11.7074901 13.3591165,11.874462 13.2559853,12.0414365 C13.152854,12.2084109 13.0282389,12.3772244 12.8821363,12.5478821 C12.7360336,12.7185398 12.5733588,12.8959475 12.3941068,13.0801105 L11.4475138,14.0782689 L13.7532228,14.0782689 L13.7532228,14.9364641 Z M15.4880295,11.7836096 L16.0552486,11.7836096 C16.3253543,11.7836096 16.5254751,11.7160842 16.6556169,11.5810313 C16.7857588,11.4459785 16.8508287,11.2667292 16.8508287,11.0432781 C16.8508287,10.9450578 16.8360959,10.8535916 16.8066298,10.7688766 C16.7771638,10.6841616 16.7323514,10.6117253 16.6721915,10.5515654 C16.6120316,10.4914055 16.5365259,10.4441377 16.4456722,10.4097606 C16.3548185,10.3753835 16.2480055,10.3581952 16.1252302,10.3581952 C16.0270099,10.3581952 15.934316,10.3723142 15.8471455,10.4005525 C15.759975,10.4287908 15.6838555,10.4686922 15.6187845,10.5202578 C15.5537136,10.5718235 15.5021487,10.6350518 15.4640884,10.7099448 C15.426028,10.7848377 15.4069982,10.8689375 15.4069982,10.9622468 L14.3425414,10.9622468 C14.3425414,10.7412512 14.3885815,10.5405166 14.480663,10.3600368 C14.5727445,10.1795571 14.6979734,10.0260903 14.8563536,9.89963168 C15.0147338,9.77317309 15.2007356,9.67495431 15.4143646,9.60497238 C15.6279937,9.53499044 15.8563524,9.5 16.0994475,9.5 C16.3695532,9.5 16.6157141,9.53253497 16.8379374,9.59760589 C17.0601607,9.66267681 17.2510735,9.75966786 17.4106814,9.88858195 C17.5702893,10.017496 17.6942905,10.1771016 17.7826888,10.3674033 C17.871087,10.5577051 17.9152855,10.7780835 17.9152855,11.0285451 C17.9152855,11.1439539 17.8974833,11.2581333 17.8618785,11.3710866 C17.8262736,11.4840399 17.773481,11.5902389 17.7034991,11.6896869 C17.6335171,11.7891349 17.5481896,11.881215 17.4475138,11.96593 C17.346838,12.050645 17.231431,12.1224675 17.1012891,12.1813996 C17.4033164,12.2894419 17.6286058,12.4515029 17.7771639,12.6675875 C17.925722,12.883672 18,13.1390409 18,13.4337017 C18,13.6841633 17.9515045,13.907611 17.854512,14.1040516 C17.7575195,14.3004921 17.6243102,14.4656224 17.4548803,14.5994475 C17.2854503,14.7332726 17.0847157,14.8351746 16.8526703,14.9051565 C16.620625,14.9751385 16.3695532,15.0101289 16.0994475,15.0101289 C15.8710854,15.0101289 15.6476377,14.9794355 15.4290976,14.9180479 C15.2105575,14.8566602 15.0159616,14.7621246 14.8453039,14.6344383 C14.6746462,14.506752 14.5371399,14.3465326 14.4327808,14.1537753 C14.3284218,13.9610181 14.2762431,13.7320455 14.2762431,13.4668508 L15.3406998,13.4668508 C15.3406998,13.5675266 15.3603436,13.6596067 15.3996317,13.7430939 C15.4389198,13.8265811 15.493554,13.8984036 15.5635359,13.9585635 C15.6335178,14.0187234 15.7163899,14.0659912 15.8121547,14.1003683 C15.9079194,14.1347454 16.0122769,14.1519337 16.1252302,14.1519337 C16.250461,14.1519337 16.3634126,14.1347454 16.4640884,14.1003683 C16.5647642,14.0659912 16.6500917,14.016268 16.7200737,13.9511971 C16.7900556,13.8861261 16.8434621,13.8087788 16.8802947,13.7191529 C16.9171273,13.6295269 16.9355433,13.5294665 16.9355433,13.4189687 C16.9355433,13.2765493 16.9152857,13.1543897 16.8747698,13.0524862 C16.8342539,12.9505827 16.7759365,12.8677106 16.6998158,12.8038674 C16.6236951,12.7400242 16.5310012,12.6927564 16.4217311,12.6620626 C16.3124611,12.6313688 16.1903015,12.6160221 16.0552486,12.6160221 L15.4880295,12.6160221 L15.4880295,11.7836096 Z"
                      id="Icon-Token1" fill="#757575"></path>
                    <path
                      d="M1.01,7 L1,17 C1,18.1 1.9,19 3,19 L21,19 C22.1,19 23,18.1 23,17 L23,7 C23,5.9 22.1,5 21,5 L3,5 C1.9,5 1.01,5.9 1.01,7 Z M20,7 L20,17 L4,17 L4,7 L20,7 Z"
                      id="Icon-Token2" fill="#757575"></path>
                  </g>
                </svg>
              {{else ifEq authenticator "TOKENPUSH"}}
                <svg viewBox="0 0 24 24" role="presentation" style="width: 32px; height: 32px;">
                  <g id="tokenpush" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <path
                      d="M14,1 L4,1 C2.9,1 2,1.9 2,3 L2,21 C2,22.1 2.9,23 4,23 L14,23 C15.1,23 16,22.1 16,21 L16,3 C16,1.9 15.1,1 14,1 Z M14,20 L4,20 L4,4 L14,4 L14,20 Z M18.7351453,8.24792922 C19.7720036,9.27048534 20.4119396,10.6844887 20.4119396,12.2422891 C20.4119396,13.8000894 19.7720036,15.2140928 18.7351453,16.2366489 L17.57678,15.094262 C18.3139215,14.3672885 18.7756475,13.3527211 18.7756475,12.2422891 C18.7756475,11.131857 18.3139215,10.1172896 17.57678,9.39031614 L18.7351453,8.24792922 Z M23.4153342,11.8775657 C23.4153342,14.3957514 22.3753704,16.6804629 20.7012824,18.3397972 L19.5091288,17.1640879 C20.8788372,15.8132731 21.7243362,13.9371414 21.7243362,11.8775657 C21.7243362,9.81798994 20.8788372,7.94185822 19.5091288,6.59104338 L20.7012824,5.41533416 C22.3753704,7.07466844 23.4153342,9.35937997 23.4153342,11.8775657 Z"
                      id="Icon-Tokenpush" fill="#757575"></path>
                  </g>
                </svg>
              {{else ifEq authenticator "TEMP_ACCESS_CODE"}}
                <svg viewBox="0 0 24 24" role="presentation" style="width: 32px; height: 32px;">
                  <g id="temp_access_code" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <path
                      d="M5.87190083,11.9318182 L4,11.3739669 L4.28512397,10.4380165 L6.15702479,11.1322314 L6.10123967,9 L7.04958678,9 L6.98760331,11.1632231 L8.8285124,10.481405 L9.11363636,11.4235537 L7.2107438,11.9876033 L8.43801653,13.6673554 L7.66942149,14.25 L6.51652893,12.464876 L5.40082645,14.2066116 L4.62603306,13.642562 L5.87190083,11.9318182 Z M11.338843,11.9318182 L9.46694215,11.3739669 L9.75206612,10.4380165 L11.6239669,11.1322314 L11.5681818,9 L12.5165289,9 L12.4545455,11.1632231 L14.2954545,10.481405 L14.5805785,11.4235537 L12.677686,11.9876033 L13.9049587,13.6673554 L13.1363636,14.25 L11.9834711,12.464876 L10.8677686,14.2066116 L10.0929752,13.642562 L11.338843,11.9318182 Z M16.8057851,11.9318182 L14.9338843,11.3739669 L15.2190083,10.4380165 L17.0909091,11.1322314 L17.035124,9 L17.9834711,9 L17.9214876,11.1632231 L19.7623967,10.481405 L20.0475207,11.4235537 L18.1446281,11.9876033 L19.3719008,13.6673554 L18.6033058,14.25 L17.4504132,12.464876 L16.3347107,14.2066116 L15.5599174,13.642562 L16.8057851,11.9318182 Z"
                      id="Icon-temp_access_code1" fill="#757575"></path>
                    <path
                      d="M21,3 L3,3 C1.9,3 1,3.9 1,5 L1,19 C1,20.1 1.9,21 3,21 L21,21 C22.1,21 23,20.1 23,19 L23,5 C23,3.9 22.1,3 21,3 Z M21,19.01 L3,19.01 L3,4.99 L21,4.99 L21,19.01 Z"
                      id="Icon-temp_access_code2" fill="#757575"></path>
                  </g>
                </svg>
              {{else}}
                <svg viewBox="0 0 24 24" role="presentation" style="width: 32px; height: 32px;">
                  <path
                    d="M20,2A2,2 0 0,1 22,4V16A2,2 0 0,1 20,18H6L2,22V4C2,2.89 2.9,2 4,2H20M4,4V17.17L5.17,16H20V4H4M6,7H18V9H6V7M6,11H15V13H6V11Z"
                    style="fill: rgb(61, 69, 77);"/>
                </svg>
              {{/ifEq}}
            </div>
            <div class="tile-button__content-container" data-authenticator-selection="{{authenticator}}">
              <div
                class="flex-row flex-row--align-stretch flex-row--justify-start flex-row--flex-direction-column flex-row--column-spacing-sm"
                data-id="flex-row">
                {{#ifEq authenticator "SMS OTP"}}
                  <div class="tile-button__title">OTP Authentication using SMS</div>
                {{else ifEq authenticator "EMAIL OTP"}}
                  <div class="tile-button__title">OTP Authentication using Email</div>
                {{else ifEq authenticator "VOICE OTP"}}
                  <div class="tile-button__title">OTP Authentication using Voice</div>
                {{else ifEq authenticator "GRID"}}
                  <div class="tile-button__title">Grid Card Authentication</div>
                {{else ifEq authenticator "KBA"}}
                  <div class="tile-button__title">Knowledge-based Authentication</div>
                {{else ifEq authenticator "TOKEN"}}
                  <div class="tile-button__title">Token Authentication</div>
                {{else ifEq authenticator "TOKENPUSH"}}
                  <div class="tile-button__title">Token Push Authentication</div>
                {{else ifEq authenticator "TEMP_ACCESS_CODE"}}
                  <div class="tile-button__title">Temporary Access Code Authentication</div>
                {{else}}
                  <div class="tile-button__title">Unknown Option</div>
                {{/ifEq}}
              </div>
            </div>
          </div>
        {{/each}}
      </div>

      <div class="text-block">
        <div class="text-block--overflow-wrap">
          <div class="stack">
            <a tabindex="0" data-actionId="cancel" target="_self" class="anchor">Cancel</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>