<div class="card">
  <div class="org-logo">
    <img class="org-logo__image" src="{{logo}}" alt="Company Logo" />
  </div>
  <h1 class="heading">
    {{#if canceledTitle}}
    {{canceledTitle}}
    {{else}}
    Account Recovery
    {{/if}}
  </h1>
  <div class="text-block">
    <div class="text-block__text">
      {{#if canceledMessage}}
      {{canceledMessage}}
      {{else}}
      You have cancelled the attempt to recovery your account. Please close this window.
      {{/if}}
    </div>
  </div>
</div>