{{#each devices as |device|}}
  {{#if device.usable}}
    <div class="tile-button--side-icon tile-button tile-button--stacked-small"
         data-id="device-selection-button" data-mfa-selection="{{device.id}}" role="button" tabindex="0">
      <div class="tile-button__icon-container">
        <div class="device-icon">
          {{#ifEq device.type "SMS"}}
            <div class="pingicon-chat"></div>
            <div class="device-icon__title">{{device.type}}</div>
          {{else ifEq device.type "Email"}}
            <div class="pingicon-{{device.type}}"></div>
            <div class="device-icon__title">{{device.type}}</div>
          {{else}}
            <div class="pingicon-mobile"></div>
            <div class="device-icon__title">MOBILE</div>
          {{/ifEq}}
        </div>
      </div>
      <div class="tile-button__content-container">
        <div class="flex-row flex-row--align-stretch flex-row--justify-start flex-row--flex-direction-column flex-row--column-spacing-sm"
             data-id="flex-row">
          {{#ifEq device.type "Android"}}
            <div class="tile-button__content">{{device.name}}</div>
          {{else ifEq device.type "iPhone"}}
            <div class="tile-button__content">{{device.name}}</div>
          {{else}}
            <div class="tile-button__content">{{device.target}}</div>
          {{/ifEq}}
        </div>
      </div>
    </div>
  {{/if}}
{{/each}}
