{{#ifEq device.type "Android"}}
  <h1 class="heading-text centered-text icon-heading">
    <svg viewBox="0 0 24 24" role="presentation">
      <path d="M16,18H7V4H16M11.5,22A1.5,1.5 0 0,1 10,20.5A1.5,1.5 0 0,1 11.5,19A1.5,1.5 0 0,1 13,20.5A1.5,1.5 0 0,1 11.5,22M15.5,1H7.5A2.5,2.5 0 0,0 5,3.5V20.5A2.5,2.5 0 0,0 7.5,23H15.5A2.5,2.5 0 0,0 18,20.5V3.5A2.5,2.5 0 0,0 15.5,1Z"/>
    </svg><span>PingOne Authenticator</span></h1>
{{else ifEq device.type "iPhone"}}
  <h1 class="heading-text centered-text icon-heading">
    <svg viewBox="0 0 24 24" role="presentation">
      <path d="M16,18H7V4H16M11.5,22A1.5,1.5 0 0,1 10,20.5A1.5,1.5 0 0,1 11.5,19A1.5,1.5 0 0,1 13,20.5A1.5,1.5 0 0,1 11.5,22M15.5,1H7.5A2.5,2.5 0 0,0 5,3.5V20.5A2.5,2.5 0 0,0 7.5,23H15.5A2.5,2.5 0 0,0 18,20.5V3.5A2.5,2.5 0 0,0 15.5,1Z"/>
    </svg><span class="inline-icon">PingOne Authenticator</span></h1>
{{else ifEq device.type "TOTP"}}
  <h1 class="heading-text centered-text icon-heading">
    <svg viewBox="0 0 24 24" role="presentation">
      <path d="M16,18H7V4H16M11.5,22A1.5,1.5 0 0,1 10,20.5A1.5,1.5 0 0,1 11.5,19A1.5,1.5 0 0,1 13,20.5A1.5,1.5 0 0,1 11.5,22M15.5,1H7.5A2.5,2.5 0 0,0 5,3.5V20.5A2.5,2.5 0 0,0 7.5,23H15.5A2.5,2.5 0 0,0 18,20.5V3.5A2.5,2.5 0 0,0 15.5,1Z"/>
    </svg><span class="inline-icon">Authenticator App</span></h1>
{{else ifEq device.type "SMS"}}
  <h1 class="heading-text centered-text icon-heading">
    <svg viewBox="0 0 24 24" role="presentation">
      <path d="M16,18H7V4H16M11.5,22A1.5,1.5 0 0,1 10,20.5A1.5,1.5 0 0,1 11.5,19A1.5,1.5 0 0,1 13,20.5A1.5,1.5 0 0,1 11.5,22M15.5,1H7.5A2.5,2.5 0 0,0 5,3.5V20.5A2.5,2.5 0 0,0 7.5,23H15.5A2.5,2.5 0 0,0 18,20.5V3.5A2.5,2.5 0 0,0 15.5,1Z"/>
    </svg><span class="inline-icon">Text Message</span></h1>
{{else ifEq device.type "Voice"}}
  <h1 class="heading-text centered-text icon-heading">
    <svg viewBox="0 0 24 24" role="presentation">
      <path d="M20,15.5C18.8,15.5 17.5,15.3 16.4,14.9C16.3,14.9 16.2,14.9 16.1,14.9C15.8,14.9 15.6,15 15.4,15.2L13.2,17.4C10.4,15.9 8,13.6 6.6,10.8L8.8,8.6C9.1,8.3 9.2,7.9 9,7.6C8.7,6.5 8.5,5.2 8.5,4C8.5,3.5 8,3 7.5,3H4C3.5,3 3,3.5 3,4C3,13.4 10.6,21 20,21C20.5,21 21,20.5 21,20V16.5C21,16 20.5,15.5 20,15.5M5,5H6.5C6.6,5.9 6.8,6.8 7,7.6L5.8,8.8C5.4,7.6 5.1,6.3 5,5M19,19C17.7,18.9 16.4,18.6 15.2,18.2L16.4,17C17.2,17.2 18.1,17.4 19,17.4V19Z"/>
    </svg><span class="inline-icon">Voice</span></h1>
{{else ifEq device.type "Email"}}
  <h1 class="heading-text centered-text icon-heading">
    <svg viewBox="0 0 24 24" role="presentation">
      <path d="M22 6C22 4.9 21.1 4 20 4H4C2.9 4 2 4.9 2 6V18C2 19.1 2.9 20 4 20H20C21.1 20 22 19.1 22 18V6M20 6L12 11L4 6H20M20 18H4V8L12 13L20 8V18Z"/>
    </svg><span class="inline-icon">Email</span></h1>
{{else}}
  <h1 class="heading">{{device.type}} {{headerEnd}}</h1>
{{/ifEq}}
{{#ifEq device.type "TOTP"}}
  <div class="text-block" data-id="textblock">
    <div class="text-block--overflow-wrap">
      Enter the passcode displayed in your app to complete authentication.
    </div>
  </div>
{{else ifEq device.type "Android"}}
  <div class="text-block" data-id="textblock">
    <div class="text-block--overflow-wrap">
      Enter the passcode displayed in your app
      {{#if device.pushEnabled}}
        or
        <a data-mfa-selection="{{device.id}}" data-id="anchor">retry authentication</a>
      {{else}}
        to complete authentication.
      {{/if}}
    </div>
  </div>
{{else ifEq device.type "iPhone"}}
  <div class="text-block" data-id="textblock">
    <div class="text-block--overflow-wrap">
      Enter the passcode displayed in your app
      {{#if device.pushEnabled}}
        or
        <a data-mfa-selection="{{device.id}}" data-id="anchor">retry authentication</a>
      {{else}}
        to complete authentication.
      {{/if}}
    </div>
  </div>
{{else ifEq device.type "Voice"}}
  <div class="text-block" data-id="textblock">
    <div class="text-block--overflow-wrap">
      Enter the passcode you heard to complete authentication.
    </div>
  </div>
{{else}}
  <div class="text-block" data-id="textblock">
    <div class="text-block--overflow-wrap">
      Enter the passcode that you received to complete authentication.
    </div>
  </div>
{{/ifEq}}
