<div class="icon-feedback icon-feedback--error">
  <span class="icon-feedback__icon pingicon-ghost-error icon-feedback--error"></span>
  <div class="icon-feedback__label">
    {{#if errorHeader}}
      <p class="icon-feedback--error">{{errorHeader}}</p>
    {{else}}
      <p class="icon-feedback--error">Error</p>
    {{/if}}
  </div>
</div>
<div class="feedback--error">
  {{#if userMessages}}
    {{> errors}}
  {{else}}
    <div class="text-block text-block--small" data-id="textblock">
      <div class="text-block--overflow-wrap">
        {{#if msg}}
          {{msg}}
        {{else}}
          Something Went Wrong.
        {{/if}}
      </div>
    </div>
  {{/if}}
</div>
