<div class="card">
  <div class="org-logo">
    <img class="org-logo__image" src="{{logo}}" alt="Company Logo" />
  </div>
  <div class="icon-feedback icon-feedback--error">
    <p class="icon-feedback__label">Error</p>
  </div>
  <div class="feedback feedback--error">
    {{#if userMessage}}
    {{> errors}}
    {{else}}
    <img class="feedback__icon" src="{{error}}" alt="Error" />
    {{#if msg}}
    <div class="feedback__message">
      {{msg}}
    </div>
    {{else}}
    <div class="feedback__message">
      Something went wrong.
    </div>
    {{/if}}
    {{/if}}
  </div>
</div>