<div class="card">
  <div class="org-logo">
    <img class="org-logo__image" src="{{logo}}" alt="Company Logo"/>
  </div>
  <form class="form form--spacing-lg" id="AuthnWidgetForm">
    <div class="stack stack--small">
      <h1 id="header" class="heading" data-id="heading">Verification Required</h1>
      <h4 id="description" class="heading heading--4 text-block idv-desc" data-id="heading">
        Select a method to receive a web link on your mobile device to start the verification process, or select the QR Code button.
      </h4>
      <div class="idv-center">
        {{> errors}}
      </div>

      <div id="options" class="heading heading--4 idv-left" data-id="heading">
        {{#if phones.length}}
          <div class="stack stack--small" data-id="textblock">
            <input type="radio" id="mobileRadio" name="radioGroup" value="mobileRadio">
            <label for="mobileRadio" class="idv-ddlabel">Mobile</label>
            <select name="mobiles" id="mobiles" class="idv-ddbox">
              {{#each phones}}
                <option value={{this.[0]}}>{{this.[1]}}</option>
              {{/each}}
            </select>
          </div>
        {{/if}}
	
        {{#if emails.length}}
          <div class="stack stack--small" data-id="textblock">
            <input type="radio" id="emailRadio" name="radioGroup" value="emailRadio">
            <label for="emailRadio" class="idv-ddlabel">Email</label>
            <select name="emails" id="emails" class="idv-ddbox">
              {{#each emails}}
                <option value={{this.[0]}}>{{this.[1]}}</option>
              {{/each}}
            </select>
          </div>
        {{/if}}
      </div>
      <h4 id="note" class="heading heading--4 text-page-subtitle text-block idv-note" data-id="heading">
        <i>Update your account profile if you do not see the correct information.</i>
      </h4>

      <div class="idv-btntbl idv-btntbl-down">
        <div class="idv-btnrow">
          <div class="idv-btncell">
            <button id="qrbtn" class="button button--tertiary button--primary idv-btn idv-btn-small" type="button">
              QR Code
            </button>
          </div>
          <div class="idv-btncell">
            <button id="nextbtn" class="button button--tertiary button--primary idv-btn idv-btn-small" type="button" disabled>
              Next
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="text-block">
      <a tabindex="0" id="retryoptions" data-actionId="retryVerification" target="_self" class="anchor">Cancel</a>
      <a tabindex="0" id="cancelAuthentication" target="_self" class="anchor" style="display: none;">Cancel</a>
    </div>
  </form>
</div>