<div class="card">  
  {{#if changeDevicePermitted}}
  <div class="step-link step-link--back" style="margin: 0; text-align: left;">
    <div style="margin: 0; text-align: left;">
      <button id="changeOneTimeDevice" class="button back-button">
      <span class="pingicon-left"></span>
      </button>
    </div>
  </div>
  {{/if}}

  <div class="org-logo">
    <img class="org-logo__image" src="{{logo}}" alt="Company Logo"/>
  </div>
  <form class="form" id="AuthnWidgetForm">
    {{> errors}}
    <div class="stack stack--small" data-id="stack">
      {{#ifEq selectedDevice.type "SMS"}}
        <h1 class="heading-text centered-text icon-heading">
          <svg viewBox="0 0 24 24" role="presentation">
            <path d="M20,2A2,2 0 0,1 22,4V16A2,2 0 0,1 20,18H6L2,22V4C2,2.89 2.9,2 4,2H20M4,4V17.17L5.17,16H20V4H4M6,7H18V9H6V7M6,11H15V13H6V11Z"></path>
          </svg>
          <span class="inline-icon">Text Message</span>
        </h1>
      {{else ifEq selectedDevice.type "Voice"}}
        <h1 class="heading-text centered-text icon-heading">
          <svg viewBox="0 0 24 24" role="presentation">
            <path d="M20,15.5C18.8,15.5 17.5,15.3 16.4,14.9C16.3,14.9 16.2,14.9 16.1,14.9C15.8,14.9 15.6,15 15.4,15.2L13.2,17.4C10.4,15.9 8,13.6 6.6,10.8L8.8,8.6C9.1,8.3 9.2,7.9 9,7.6C8.7,6.5 8.5,5.2 8.5,4C8.5,3.5 8,3 7.5,3H4C3.5,3 3,3.5 3,4C3,13.4 10.6,21 20,21C20.5,21 21,20.5 21,20V16.5C21,16 20.5,15.5 20,15.5M5,5H6.5C6.6,5.9 6.8,6.8 7,7.6L5.8,8.8C5.4,7.6 5.1,6.3 5,5M19,19C17.7,18.9 16.4,18.6 15.2,18.2L16.4,17C17.2,17.2 18.1,17.4 19,17.4V19Z"/>
          </svg>
          <span class="inline-icon">Voice</span>
        </h1>
      {{else ifEq selectedDevice.type "Email"}}
        <h1 class="heading-text centered-text icon-heading">
          <svg viewBox="0 0 24 24" role="presentation">
            <path d="M22 6C22 4.9 21.1 4 20 4H4C2.9 4 2 4.9 2 6V18C2 19.1 2.9 20 4 20H20C21.1 20 22 19.1 22 18V6M20 6L12 11L4 6H20M20 18H4V8L12 13L20 8V18Z"/>
          </svg>
          <span class="inline-icon">Email</span>
        </h1>
    {{/ifEq}}
    {{#ifEq selectedDevice.type "Voice"}}
      <div class="text-block" data-id="textblock">
        <div class="text-block--overflow-wrap">
          Enter the passcode you heard to complete authentication.
        </div>
      </div>
    {{else}}
      <div class="text-block" data-id="textblock">
        <div class="text-block--overflow-wrap">
          Enter the passcode that you received to complete authentication.
        </div>
      </div>
    {{/ifEq}}
    </div>
    <div class="text-input__icon">
      <input id="otp" name="otp" type="text" class="text-input text-input--primary input--otp required" maxlength="6" value=""/>
    </div>

    <div class="form-aside">
      <div class="stack" data-id="stack">
        <div class="stack stack--small" data-id="stack">
          <div class="text-block" data-id="textblock">
            <div class="text-block--overflow-wrap">
              {{#ifEq selectedDevice.type "Voice" }}
              Calling:
              {{else ifEq selectedDevice.type "SMS" }}
              Message sent to:
              {{else}}
              {{selectedDevice.type}} sent to:
              {{/ifEq}}
            </div>
          </div>
          <div class="text-block" data-id="textblock">
            <div class="text-block--overflow-wrap">
              {{selectedDevice.target}}
            </div>
          </div>
        </div>
        <div class="stack stack--small" data-id="stack">
          <div>
            <button class="button file-input--button button--tertiary" data-id="button" type="button" data-actionId="resendOtp">
              {{#ifEq selectedDevice.type "Voice" }}
              Call again
              {{else}}
              Resend
              {{/ifEq}}
            </button>
          </div>
        </div>
      </div>
    </div>

    <button id="submit" data-actionId="checkOtp" type="submit" class="button button--primary brand-primary-bg" disabled>
      Sign On
    </button>
    <div class="text-block" data-id="textblock">
      <div class="text-block--overflow-wrap">
        <a tabindex="0" data-actionId="cancelAuthentication" target="_self" class="anchor">
          Cancel</a>
      </div>
    </div>
  </form>
</div>
