<div class="card">
  <div class="org-logo">
    <img class="org-logo__image" src="{{logo}}" alt="Company Logo" />
  </div>
  {{> errors}}
  {{> spinner}}
  <form class="form" id="AuthnWidgetForm">
    {{#if showCaptcha}}
    <div class="g-recaptcha" data-sitekey="{{captchaSiteKey}}" data-callback="{{checkRecaptcha}}" data-size="invisible"
      id="invisibleRecaptchaId">
    </div>
    {{/if}}
    <div class="float-label">
      <input type="text" class="text-input float-label__input" id="username" name="username" placeholder="Username"
        value="{{username}}" autofocus {{readonlyhelper allowUsernameEdits}} />
      <label class="float-label__label" for="username">Username</label>
    </div>
    <div class="float-label">
      <input type="password" class="text-input float-label__input" id="password" name="password"
        placeholder="Password" />
      <label class="float-label__label" for="password">Password</label>
    </div>
    {{#if showRememberMyUsername}}
    <div>
      <label class="checkbox">
        <input type="checkbox" class="checkbox__input" name="rememberMyUsername"
          {{checkedIf rememberMyUsernameSelected}} value="true" />
        <span class="checkbox__standin"></span>
        <span class="checkbox__label">Remember me</span>
      </label>
    </div>
    {{/if}}
    {{#if showThisIsMyDevice}}
    <div>
      <label class="checkbox">
        <input type="checkbox" class="checkbox__input" name="thisIsMyDevice" {{checkedIf thisIsMyDeviceSelected}}
          value="true" />
        <span class="checkbox__standin"></span>
        <span class="checkbox__label">This is my Device</span>
      </label>
    </div>
    {{/if}}
    {{#with _links as |actions|}}
    {{#if checkUsernamePassword}}
    <button id="submit" data-actionid="checkUsernamePassword" type="submit"
      class="button button--primary brand-primary-bg" disabled>
      Sign On
    </button>
    {{/if}}
    {{#if useAlternativeAuthenticationSource}}
      {{> alternate_authn_sources @root button-prefix="Login" }}
    {{/if}}
    {{#if initiateAccountRecovery}}
    <div class="text-block text-block--small">
      <a href="#" data-actionid="initiateAccountRecovery">Trouble Signing On?</a>
    </div>
    {{else}}
    {{#if recoverUsername}}
    <div class="text-block text-block--small">
      <a href="#" data-actionid="recoverUsername">Trouble Signing On?</a>
    </div>
    {{/if}}
    {{/if}}
    {{#if initiatePasswordChange}}
    <div class="text-block text-block--small">
      <a href="#" data-actionid="initiatePasswordChange">Change Password?</a>
    </div>
    {{/if}}
    {{/with}}
  </form>
</div>