<div class="card">
  <div class="org-logo">
    <img class="org-logo__image" src="{{logo}}" alt="Company Logo"/>
  </div>
  {{> errors}}
  <h1 class="heading">{{username}}</h1>
  <div class="text-block">
    <div class="text-block__text">Reset your VIP credential.</div>
  </div>
  <div class="tile-selector tile-selector--stacked">
    <form class="form form--margin-small" id="AuthnWidgetForm">
      <div class="stack" data-id="stack">
        <div class="dropdown float-label dropdown--standard">
          <select id="vip-credentials" name="vipCredentialId" class="dropdown__select dropdown__select--info" required>
            {{#each resettableVipCredentials as |credential|}}
              {{#if credential.friendlyName}}
                <option value="{{credential.id}}">{{credential.friendlyName}}</option>
              {{else}}
                <option value="{{credential.id}}">{{credential.id}}</option>
              {{/if}}
            {{/each}}
          </select>
          <label class="float-label__label" for="vip-credentials">Registered Credentials</label>
        </div>
        <div class="float-label">
          <input id="securityCode" type="text" class="text-input float-label__input required" name="securityCode" required/>
          <label class="float-label__label" for="securityCode">First Security Code</label>
        </div>
        <div class="float-label">
          <input id="nextSecurityCode" type="text" class="text-input float-label__input required" name="nextSecurityCode" required/>
          <label class="float-label__label" for="nextSecurityCode">Second Security Code</label>
        </div>

        <div class="text-block">
          <button id="submit" type="submit" class="button button--primary brand-primary-bg" data-id="button"
                  data-actionId="resetVIPCredential" disabled>Submit
          </button>
        </div>
        <div class="text-block">
          <a tabindex="0" data-actionId="cancel" target="_self" class="anchor">Cancel</a>
        </div>
      </div>
    </form>
  </div>
</div>